


@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  font-family: 'Russo One', sans-serif;
  background-color: #121212;
  color: white;
}

.no-dialog-wrapper .p-dialog {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.no-dialog-wrapper .p-dialog-content {
  background: transparent !important;
  padding: 0 !important;
  overflow: visible !important;
}

.no-dialog-wrapper .p-dialog-header,
.no-dialog-wrapper .p-dialog-footer {
  display: none !important;
}
